.big_picture{
    width: 608px;
    height: 780px;
}
.P{
    width: 36px;
    height: 36px;
    margin-right: 900px;
}

.sing_in{
    padding: 8px 20px;
    width: 111px;
    height: 36px;
    background-color: #156963;
    color:aliceblue;
    margin-top: 20px;
    margin-right: 50px;
}
.sing_up{
    color: #156963;
    margin-top: 20px;
    margin-right: 50px;
}
.container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.header{
    display: flex;
}
a{
    text-decoration: none;
    font-size: large;
}
.nav{
    padding: 0;
    margin-left: 10px;
    font-size: 24px;
}
.nav2{
    padding: 0;
    margin-right: 10px;
    font-size: 24px;
}
.nav_two{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}
.logo1{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 50px;
}
.logo2{
    width: 20px;
    height: 20px;
}
.logo3{
    width: 48px;
    height: 48px;
}
.perehod{
    display: flex;
    flex-direction: row;
}
img{
    width: 600px;
    height: 700px;
}
.navbar{
    position: absolute;
    right: 150px;
    align-items: center;
    top: 30px;
}
.content{
    width: 500px;
    height: 200px;
    margin: auto;
}
.content_one{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-right: 50px
}
.content_two{
    padding: 40px;
    background-color:#156963;
    display: flex;
    flex-direction: column;
}
.content_1{
    width: 592px;
    display: flex;
    flex-direction: row;
}
.container_two{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}
.main{
    display: flex;
}
.main_container{
    margin-top: 80px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
aside{
    width: 268px;
    border: 1px solid;
    padding: 10px;
}
.aside_top{
    display: flex;
    flex-direction: row;
}
h1{
    font-size: 68px;
    font-family: 'Montserrat', sans-serif;
}
h2{
    padding-left: 20px;
    width: 90px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.h2_GCS{
    width: 137px;
}
p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.card{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}


