*{
    margin: 0;
    padding: 0;
}
body{
    width: 1200px;
    margin: auto;
}
/* header */
header{
    display: flex;
    justify-content: space-around;
    background-color: rgba(130, 190, 107, 0.5);
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}
.logo{
    width: 50px;
    height: 50px;
}
.sign{
    height: 30px;
    width: 80px;
    background-color: #102E1B;
    border-radius: 17px;
    color: white;
    margin-top: 9px;
}
.txt_head{
    font-size: 17px;
    margin-top: 15px;
}
.txt_logo{
    font-size: 27px;
    color: #102E1B;
    margin: 10px 0px 0px -158px;
    font-weight: 700;
}
/* main */
.leftPict{
    position: absolute;
    height: 600px;
    width: 360px;
    z-index: -1;
}
.rightPict{
    position: absolute;
    height: 500px;
    width: 350px;
    z-index: -1;
    margin-left: 800px;
}
.green_block{
    width: 1100px;
    height: 600px;
    background-color: rgba(130, 190, 107, 0.271);
    margin: auto;
    margin-top: 20px;
    border-radius: 60px;
}
.title{
    width: 480px;
    font-size: 40px;
    font-weight: 600;
    color: #102E1B;
    margin-left: -100px;
}
.main_txt{
    width: 350px;
    font-size: 47px;
    font-weight: 600;
    color: #396C03;
    margin-top: 80px;
}
.but_more{
    height: 57px;
    width: 177px;
    font-size: 14px;
    background-color: #102E1B;
    border-radius: 25px;
    color: white;
    margin-top: 9px;
}
/* main2 */
.block_img{
    width: 1100px;
    display: flex;
    justify-content: space-around;
}
.block_but{
    width: 1100px;
    display: flex;
    justify-content: space-around;
}
.flower{
    width: 250px;
}
.but_flow{
    height: 57px;
    width: 190px;
    font-size: 17px;
    background-color: #102E1B;
    border-radius: 25px;
    color: white;
    margin-top: 9px;
    padding: 0px 40px 0px 40px;
}
.title_main2{
    width: 480px;
    font-size: 30px;
    font-weight: 600;
    color: #102E1B;
    margin-left: 60px;
    padding: 30px 0px 30px 0px;
}
/* footer */
footer{
    background-color: white;
    padding: 20px 0px 20px 0px;
}
.main_vklad{
    font-size: 27px;
    color: #102E1B;
    margin: 30px 0px 30px 0px;
    font-weight: 700;

}
.soc{
    width: 21px;
    height: 18px;
    margin-right: 10px;
}



