body{
    background-color: red;
}
aside{
    width: 1000px;
    height: 1200px;
    margin: auto;
    background-color: aqua;
}
h1{
    font-style:italic;
}
h2{
    font-weight:bold;
}
h3{
    text-decoration: underline;
}
h4{
    text-decoration: line-through;
}
span{
    color: blueviolet;
}
table{
    border-collapse: collapse;
    width: 200px;
}
th, td{
    text-align: center;
}
button{
    width: 60px;
}
form{
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    background-color: blueviolet;
}
